
!!! 5
%html
	%head
		%title
			World-wize Surveys Data Manager
	  
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags

	%body
		%section.topline
			%section.container
				%ul.nav.nav-pills
					%li
						%a{href: '/'}
							Home

		%section.container
			%div.spacer

			%div.header
				%div.header-image= image_tag("wwLogoTransparent.png", alt: "Incivent")
				%div.header-title
					%h1 Data Manager

			- flash.each do |key, value|
				%div{id: key}
					%strong= value

			%div.spacer

			%div.page
				= yield

			%div.footer
				%p © 2013 World-wize Surveys

		%div.modal
			%div.modal-text
				%strong Loading...

